* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

html {
  font-size: 62.5%;
}

/* Grid */

.grid {
  display: grid;
  grid-template-rows: 140px auto 170px;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Body */

.body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: rgba(225, 225, 255);
}

/* Header  */

.header {
  background-color: #044468;
  height: 14rem;
  border-bottom: rgb(33, 14, 139) solid 5px;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  column-gap: 10rem;
  background-image: linear-gradient(to right, #044468, #0772b0);
}

.header__tituloprincipal {
  background-color: #0772b0;
  background-image: linear-gradient(to left, #0772b0, #0993e3);
  font-family: sans-serif;
  font-size: 4.5rem;
  color: black;
  padding: 1rem;
  display: flex;
  margin-top: 3rem;
  border: solid 3px black;
  height: 5rem;
  transform: skew(-15deg);
  transition: 2s;
  text-decoration: none;
}

.header__tituloprincipal:hover {
  height: 8rem;
}

.header__menunav {
  border: groove 5px;
  font-family: sans-serif;
  background-color: rgba(225, 225, 255);
  font-size: 20px;
  padding: 10px 10px;
  padding-inline-end: 2rem;
  height: 2.8rem;
  display: flex;
  margin-top: 7rem;
}

/* Main */

.main {
  grid-area: main;
}

/* SectionSlide */

.sectionSlide {
  display: flex;
  justify-content: center;
}

#fotoslide {
  border: solid 2px black;
  height: 40vh;
  max-width: 100%;
  margin-top: 7rem;
}

/* Section Nos */

.sectionNos__titulo {
  color: #044468;
  text-decoration: underline;
  text-align: center;
  padding: 5rem;
}

.sectionNos__nos {
  font-size: 2rem;
  padding: 15px;
  text-align: center;
  display: block;
  margin-block-end: 4rem;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 68, 255, 0.068);
}

.sectionNos__nos--bold {
  font-weight: bold;
}

/* Section Faraon */

.sectionNos__faraon {
  margin-bottom: 5rem;
  max-width: 123rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  background-color: rgba(0, 68, 255, 0.068);
  padding: 15px;
}

/* Section Vendidos */

.flexvendidos {
  display: flex;
  justify-content: center;
}

.sectionVendidos__titulo {
  color: #044468;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 10rem;
}

.sectionVendidos__fotos {
  margin-bottom: 10rem;
  display: flex;
  column-gap: 1rem;
}

.sectionVendidos__fotos--pics {
  width: 40rem;
  height: 30rem;
}

/* Footer */

.footer {
  background-color: #044468;
  background-image: linear-gradient(to right, #044468, #0772b0);
  height: 16.5rem;
  border-top: rgb(33, 14, 139) solid 5px;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contacto {
  border: solid 1px black;
  padding: 1.6rem;
  width: 300px;
  height: 90px;
  transition: 2s;
}

.footer__contacto:hover {
  height: 100px;
  width: 350px;
}

.footer__contacto--contacto {
  text-decoration: underline;
  font-size: 2.6rem;
  padding-bottom: 1rem;
  color: black;
}

.footer__contacto--texto {
  font-style: italic;
  font-size: 1.8rem;
}

/* OTROS */

body header nav ul {
  list-style-type: none;
}

body header nav ul li {
  float: left;
  text-align: center;
  width: 5em;
}

/* Pestaña CONTACTO */

.contacto {
  background-color: rgb(120, 120, 206);
  font-family: sans-serif;
  font-size: 3.5rem;
  color: black;
  padding: 1rem;
  display: inline-block;
  border: solid 3px black;
  margin-top: 3rem;
  margin-left: 15rem;
  position: relative;
}

.form {
  margin-top: 3rem;
  margin-left: 1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  width: 90vw;
  background-color: rgba(120, 120, 206, 0.185);
  background-image: linear-gradient(to bottom, #cccce8, #7979d1);
  display: inline-block;
}

.bodycontact {
  background-color: rgba(225, 225, 255);
  background-image: linear-gradient(to bottom, #cccce8, #7979d1);
  height: 100vh;
  width: 100vw;
}

.volver {
  text-decoration: none;
  border: solid black 2px;
  padding: 1rem;
  font-weight: bold;
  color: black;
}

/* Pestaña Ninos */

.menunav {
  border: groove 5px;
  font-family: sans-serif;
  background-color: rgba(225, 225, 255);
  font-size: 20px;
  padding: 10px 10px;
  padding-inline-end: 2rem;
  height: 2.8rem;
  display: flex;
  margin-top: 7rem;
}

.catalogocontainer {
  display: flex;
  flex-direction: column;
}

.titulosecciones {
  margin-left: 4.3rem;
  font-style: italic;
  text-decoration: underline;
  font-size: 3rem;
  margin-bottom: 5rem;
  justify-self: flex-start;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.fotosninos {
  padding-bottom: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.fotosninos--pics {
  height: 250px;
  width: auto;
}

/* MEDIA QUERIES */
/* TABLET */

@media (min-width: 768px) and (max-width: 1230px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 17rem;
  }
  .header__menunav {
    margin-top: auto;
    height: 3.5rem;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
  }

  .header__tituloprincipal {
    margin-top: auto;
  }

  .sectionNos__nos {
    font-size: 2.5rem;
  }

  #fotoslide {
    object-fit: cover;
    border: none;
  }

  .sectionVendidos__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
  }

  .sectionVendidos__fotos--pics {
    width: 37rem;
  }

  /* Pestañas */

  .menunav {
    margin-top: auto;
    height: 3.5rem;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
  }

  .fotosninos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
  }

  .titulosecciones {
    display: flex;
    justify-content: center;
  }

  .form {
    font-size: 20px;
  }

  /* Pestañas */
}

/* CELULARES */

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 20rem;
  }
  .header__menunav {
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: auto;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
  }

  body header nav ul {
    display: flex;
    justify-content: center;
    row-gap: 1rem;
    flex-wrap: wrap;
  }

  .header__tituloprincipal {
    margin: auto;
    width: auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  .sectionNos__titulo {
    font-size: 2rem;
    padding: 2rem;
  }

  .sectionNos__nos {
    font-size: 1.5rem;
    padding: 0 2rem;
    margin-block-end: 1.5rem;
  }

  #fotoslide {
    border: none;
    object-fit: contain;
    height: 100%;
    padding: 0;
    margin-top: 9rem;
  }

  .sectionVendidos__titulo {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .sectionVendidos__fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.5rem;
    margin-bottom: 2rem;
  }

  .sectionVendidos__fotos--pics {
    width: 100%;
    height: 100%;
  }

  .footer__contacto {
    overflow: hidden;
    height: 8rem;
  }

  /* Pestañas  */

  .menunav {
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: auto;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
  }

  .catalogocontainer {
    display: flex;
    justify-content: center;
  }

  .titulosecciones {
    margin-left: 0rem;
  }

  .footer__contacto {
    overflow: hidden;
    height: 8rem;
  }

  .form {
    width: 50vw;
    padding-right: 2rem;
  }

  .contacto {
    text-align: center;
    margin-left: 4rem;
    font-size: 3rem;
  }

  /* Pestañas */
}
