/* Pestaña CONTACTO */

.contacto {
  background-color: rgb(120, 120, 206);
  font-family: sans-serif;
  font-size: 3.5rem;
  color: black;
  padding: 1rem;
  display: flex;
  border: solid 3px black;
  margin-top: 3rem;
  position: relative;
  width: 25rem;
  overflow: hidden;
  justify-content: center;
}

.form {
  margin-top: 3rem;
  margin-left: 5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(120, 120, 206, 0.185);
  background-image: linear-gradient(to bottom, #cccce8, #7979d1);
}

.dif {
  width: 50%;
}

.bodycontact {
  background-color: rgb(225, 225, 255);
  background-image: linear-gradient(to bottom, #cccce8, #7979d1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-lgg {
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  border-radius: 0.3rem;
}

.form-control-dif {
  width: 50%;
}
