/* Grid */

.grid {
  display: grid;
  grid-template-rows: 140px auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
  grid-area: main;
}

/* Body */

.body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(225, 225, 255);
}

// Main Content

.sectionslide {
  background-color: rgb(225, 225, 255);
  color: $blanco;
  padding: 3rem 2rem;

  .altoimg {
    max-height: 548px;
    max-width: 800px;
  }

  .centradoimg {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centradoimg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* SectionSlide */

.sectionslide {
  position: relative;
  margin-top: 10rem;
}

/* Section Nos */

.sectionNos__titulo {
  color: #044468;
  text-decoration: underline;
  text-align: center;
  padding: 5rem;
}

.sectionNos__nos {
  font-size: 2rem;
  padding: 15px;
  text-align: center;
  display: block;
  margin-block-end: 4rem;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 68, 255, 0.068);
}

.sectionNos__nos--bold {
  font-weight: bold;
}

/* Section Faraon */

.sectionNos__faraon {
  margin-bottom: 5rem;
  max-width: 123rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  background-color: rgba(0, 68, 255, 0.068);
  padding: 15px;
}

/* Section Vendidos */

.flexvendidos {
  display: flex;
  justify-content: center;
}

.sectionVendidos__titulo {
  color: #044468;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 10rem;
}

.sectionVendidos__fotos {
  margin-bottom: 10rem;
  display: flex;
  column-gap: 1rem;
  padding-inline-end: 10rem;
  padding-inline-start: 10rem;
}

.sombreado-foto {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.sombreado-foto:hover {
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

/* Modificacion del Bootstrap */

.rounded-circle {
  max-width: 100%;
}
